@use 'theme';
@use 'colors';

.content {
    margin: 0;
    padding: 0;
}

.third {
    margin: 0 0 30px;
    flex-shrink: 0;
    width: 30%;
    min-width: 400px;
}

.items {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    text-align: center;
}

.noselect {
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.nomargin {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
    text-decoration-color: inherit;
}

.icon-text {
    margin: 0;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.logo-name-record {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.logo-container {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 25%;
}

#sport-logo {
    margin: 0;
    padding: 0;
    height: 1.5em;
}

.logo-multiline-words {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}


.logo-text {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.logo-text p {
    margin: 0;
}

.favorite {
    color: colors.$favorite;
    text-decoration-color: colors.$favorite;
}

.boxed {
    margin: 0 auto;
    min-width: 40%;
    max-width: 350px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: theme.$current;
    border-radius: 8px;
    color: #FFFFFF;
    box-shadow:inset 0px 0px 4px 2px theme.$current-accent;
}

.boxed-header {
    text-align: center;
    margin: 0 auto 10px;
}

.centered-boxed-wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.margin-bottom-5 {
    margin: 0 0 5px !important;
}

.button-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.themed-button {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 2px solid theme.$current-border;
    border-radius: 8px;
    background-color: theme.$current;
}

.themed-button:disabled {
    background-color: theme.$current-border;
    border-color: theme.$current-border;
    pointer-events: none;
    color: #FFFFFF;
}

.themed-button:hover {
    background-color: theme.$current-accent;
    border-color: theme.$current-border;
}

.leftSpace {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-basis: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.middleSpace {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-basis: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.rightSpace {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-basis: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.closeButton {
    margin-right: 10px;
    height: 10px;
    width: 10px;
}

.dialog {
    margin: 0;
    border-radius: 8px;
    border: 2px solid #ff4747;
    width: 100%;
}

.dialog-header {
    width: 100%;
    height: 2.5em;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: #ff4747;
}

.dialog-header p {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.dialog-body {
    text-align: left;
    padding: 20px;
}

.dialog-body p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}