.article {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.article-title {
    text-align: center;
    width: 100%;
    flex-basis: 100%;
    font-weight: bold;
}

.article-img {
    height: 400px;
    width: 500px;
    object-fit: cover;
}

.article-desc {
    margin: 0;
    width: 100%;
    flex-basis: 100%;
}

