@use 'theme';

.schedule {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 7px;
}

#schedule-logo-container {
    width: 40px !important;
    height: 40px !important;
}

.game {
    margin: 0;
    padding: 4px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-flow: column nowrap;
    color: #FFFFFF;
    line-height: 1.15em;
}

.game-data {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.game-left {
    padding-left: 5px;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 40%;
    text-align: center;
    font-weight: bold;
}

.game-center {
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-basis: 20%;
    text-align: center;
}

.game-right {
    padding-right: 5px;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 40%;
    text-align: center;
    font-weight: bold;
}

.game-team-name {
    margin: 0;
    padding: 0;
}

.score {
    margin: 0 auto;
    padding: 1px;
    font-size: 130%;
}

.game-footer {
    margin: 0 auto;
    padding: 1px;
    font-size: 75%;
}

.game-empty {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}