@use 'theme';

.schedule {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

.logo-container img {
    margin: 0 auto;
    padding: 1px;
    width: 40px;
    height: 40px;
}

.game {
    margin: 0 auto 3px;
    padding: 5px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-flow: column nowrap;
    background-color: theme.$current;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 2px 1px theme.$current-accent, 0px 3px theme.$current-border;
}

.game-data {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.game-left {
    padding-left: 5px;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    flex-basis: 40%;
    text-align: center;
    font-weight: bold;
}

.game-center {
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-basis: 20%;
    text-align: center;
}

.game-right {
    padding-right: 5px;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    flex-basis: 40%;
    text-align: center;
    font-weight: bold;
}

.game-team-name {
    margin: 0;
    padding: 0;
}

.score {
    margin: 0 auto;
    padding: 1px;
    font-size: 130%;
}

.game-footer {
    margin: 0 auto;
    padding: 1px;
    font-size: 75%;
}

.game-empty {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}