@use 'theme';

.schedule {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4px;
    max-height: 400px;
    overflow-y: scroll;
}

#schedule-logo-container {
    width: 40px !important;
    height: 40px !important;
}

.game {
    margin: 0 0 2px;
    padding: 4px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    line-height: 1.15em;
    min-height: 100px;
}

.game-left {
    margin: 0;
    padding: 0;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 35%;
    text-align: center;
    font-weight: bold;
}

.game-center {
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 4px;
    align-items: center;
    align-content: center;
    flex-basis: 30%;
    text-align: center;
}

.game-extra {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

.game-right {
    margin: 0;
    padding: 0;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 35%;
    text-align: center;
    font-weight: bold;
}

.game-team-name {
    margin: 0;
    padding: 0;
}

.score {
    margin: 0 auto;
    padding: 1px;
    font-size: 130%;
}

.game-footer {
    margin: 0 auto;
    padding: 1px;
    font-size: 75%;
}

.game-empty {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.game-playoffs-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.game-playoffs-record {
    margin: 0;
    size: 24px;
}

.game-series {
    margin: 0;
    size: 20px;
    font-weight: bold;
}

.score-win-icon {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.score-win-icon svg {
    margin: 0;
    width: 1em;
    height: 1em;
}

.stream {
    text-decoration: underline;
    color: #F5F5F5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.stream:hover {
    color: #000000;
}