.league-option {
    margin: 0 auto 5px;
    padding: 4px;
    color: #FFFFFF;
    border-radius: 3px;
    flex-basis: 100%;
    cursor: pointer;
    font-weight: bold;
    outline: 2px solid #4146cc;
}

.league-option:hover {
    background-color: #4146cc;
}

.league-option-active {
    background-color: #4146cc;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

.league-option-inactive {
    background-color: #6a6dcc;
    pointer-events: none !important;
}