.login-content {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login {
    margin: 0 auto;
    min-width: 40%;
    max-width: 350px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #5259FF;
    border-radius: 8px;
    color: #FFFFFF;
    box-shadow:inset 0px 0px 4px 2px #4146cc;
}

.login form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.websiteName {
    text-align: center;
    margin: 0 auto 10px;
}

.inputForm {
    margin: 0 0 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.inputForm label {
    margin: 0;
}

.login-button {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #31318f;
}

.login-button:disabled {
    background-color: #111133;
    pointer-events: none;
    color: #FFFFFF;
}

.login-button:hover {
    background-color: #4343cc;
}

#submit {
    margin: 0 0 5px;
}