@use 'theme';

.boxed form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.inputForm {
    margin: 0 0 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.inputForm label {
    margin: 0;
}

.signup-link {
    width: 100%;
    text-decoration: none;
}

.have-account {
    margin: 0;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

.preferences {
    margin: 0 0 1px;
    width: 100%;
    height: auto;
}