@use 'theme';

.overviews {
    margin: 0;
    padding: 0 0 2px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 7px;
    max-height: 450px;
    overflow-y: scroll;
}

.overview {
    margin: 0;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

#overview-logo {
    margin: 0;
    padding: 1px;
    width: 125px;
    height: 125px;
}

.overview-team-name {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.overview-team-name p {
    width: auto;
    margin: 0 !important;
    font-size: 23px;
    font-weight: bold;
}

.overview-stats {
    font-size: 18px;
    margin: 0 !important;
}

.overview-header {
    margin: 0;
    padding-left: 5px;
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}

.break {
    margin: 0;
    height: 0;
    padding-bottom: 1px;
    width: 100%;
    flex-basis: 100%;
}

#expanded-team-overview-header p {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.expanded-team-overview-info {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.expanded-team-overview-info-name {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
}

.expanded-team-overview-stats {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

.expanded-team-overview-players {
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.overview-player {
    width: 100%;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.overview-player-position {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #FFFFFF !important;
    font-weight: normal !important;
}