.league-options {
    margin: 0 auto 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.league-option {
    padding: 5px;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    outline: 2px solid #4146cc;
}

.league-option:hover {
    background-color: #4146cc;
}

.league-option-active {
    background-color: #4146cc;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

.league-option-inactive {
    background-color: #6a6dcc;
    pointer-events: none !important;
}

.wrapper {
    margin: 0 0 10px;
    width: 75%;
}

.selected-table {
    margin: 10px auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
    justify-items: flex-start;
    align-items: flex-start;
}

.selected-team {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.remove-button {
    padding: 0px;
}