@use 'theme';

.signup-content {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.signup {
  margin: 0 auto;
  min-width: 40%;
  max-width: 350px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: theme.$current;
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow:inset 0px 0px 4px 2px theme.$current-accent;
}

.signup form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
}

.signup-name {
  text-align: center;
  margin: 0 auto 10px;
}

.inputForm {
  margin: 0 0 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inputForm label {
  margin: 0 auto;
  width: 100%;
}

.submit-button {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #31318f;
}

.submit-button:disabled {
  background-color: #111133;
  pointer-events: none;
  color: #FFFFFF;
}

.submit-button:hover {
  background-color: #4343cc;
}

#submit {
  margin: 0 0 5px;
}

.have-account {
  margin: 0;
  width: 100%;
  height: auto;
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
}

.preferences {
  margin: 0 0 1px;
  width: 100%;
  height: auto;
}