@use 'theme';

.tab-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 2px;
    flex-basis: 100%;
}

.tab-content {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
}

.tab {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 2px;
    padding: 4px;
    color: #FFFFFF;
    border-radius: 3px;
    flex-basis: 100%;
    cursor: pointer;
    font-weight: bold;
    text-decoration-color: #FFFFFF;
}