@use 'theme';

.tab-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 2px;
    flex-basis: 100%;
}

.tab-content {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
}

.tab-title {
    margin: 0 auto 2px;
    padding: 4px;
    color: #FFFFFF;
    border-radius: 3px;
    flex-basis: 100%;
    cursor: pointer;
    font-weight: bold;
    background-color: theme.$current;
}

.tab-title:hover {
    background-color: theme.$current-accent;
}

.tab-active {
    background-color: theme.$current-accent;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

.tab-inactive {
    background-color: theme.$current;
}