.container {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    background-color: #f5f5f5;
    text-align: center;
}

.header {
    margin: 0 auto 10px;
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: #ff3d44;
    color: #ffffff;
    box-shadow: 0px 4px #dbdbdb;
}

.third {
    flex-shrink: 0;
    width: 33.33%;
    min-width: 400px;
    margin-bottom: 10px;
}

.items {
    margin: auto;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    text-align: center;
}

.item {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    min-height: 1px;
    max-height: 100%;
    height: auto;
    color: #d1d1d1;
    border-radius: 20px;
    border: 2px solid #ff5257;
    overflow: hidden;
}

.item-title {
    margin: 0;
    padding: 2px;
    background-color: #ff5257;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.item-body {
    margin: 0;
    padding: 2px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #dbdbdb;
    color: #212121;
}

.data {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.logo-container {
    margin: 0 auto;
    padding: 1px;
    border-radius: 25%;
}