.content {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f5f5f5;
    text-align: center;
}

.header {
    margin: 0 auto 45px;
    height: 80px;
    width: 100%;
    text-align: left;
    background-color: #5259FF;
    box-shadow: 0px 5px #31318f;
    align-self: flex-start;
}

.header-text {
    margin: 0 auto;
    padding-left: 20px;
    line-height: 80px;
    color: #ffffff;
}

.third {
    flex-shrink: 0;
    width: 33.33%;
    min-width: 400px;
    margin-bottom: 10px;
}

.items {
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    text-align: center;
}

.item {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    min-height: 1px;
    max-height: 100%;
    height: auto;
    color: #d1d1d1;
    border-radius: 8px;
    border: 0px solid #5259FF;
    overflow: hidden;
    box-shadow: 0px 3px #31318f;
}

.item-title {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #5259FF;
}

.item-title p {
    width: 100%;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}

.leftSpace {
    height: 100%;
    flex-basis: 10%;
}

.rightSpace {
    height: 100%;
    flex-basis: 10%;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
    align-items: center;
}

.closeButton {
    margin: 0 auto;
    height: 10px;
    width: 10px;
}

.middleSpace {
    height: 100%;
    flex-basis: 80%;
}

.item-body {
    margin: 5px 0 0;
    padding: 2px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #cfcfe3;
    color: #212121;
}

.data {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.logo-container {
    margin: 0 auto;
    padding: 1px;
    border-radius: 25%;
}

.article {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.article-date {
    margin: 0 0 2px;
    width: 100%;
    flex-basis: 100%;
    font-weight: bold;
}

.article-body {
    margin: 0;
    width: 100%;
    flex-basis: 100%;
}