.schedule {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 8px;
    flex-flow: column nowrap;
}

.game {
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    display: flex;
    border-radius: 8px;
    flex-flow: column nowrap;
    background-color: #5259FF;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 2px 1px #4146cc, 0px 3px #31318F;
}

.game-header {
    margin: 0 auto 5px;
    width: 100%;
    border-radius: 15px;
    display: block;
}

.game-header p {
    margin: 0 auto;
    padding: 1px;
}

.game-data {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
}

.logo-container img {
    margin: 0 auto;
    padding: 1px;
    width: 40px;
    height: 40px;
}

.game-left {
    padding-left: 10px;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 35%;
    text-align: center;
}

.game-center {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 30%;
    text-align: center;
}

.game-right {
    padding-right: 10px;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 35%;
    text-align: center;
}

.game-name-record {
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    align-content: flex-start;
}

.game-team-name {
    margin: 0;
    padding: 0;
}

.game-record {
    margin: 0;
    padding-left: 5px;
    font-size: 75%;
}

.score {
    margin: 0 auto;
    padding: 1px;
    font-size: 120%;
}

.game-footer {
    margin: 0 auto;
    padding: 1px;
    font-size: 75%;
}