.schedule {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.game {
    margin: 5px auto;
    padding: 5px;
    width: 75%;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #ff5257;
    color: #ffffff;
}

.game-header {
    margin: 0 auto 5px;
    width: 100%;
    border-radius: 15px;
    display: block;
}

.game-header p {
    margin: 0 auto;
    padding: 1px;
}

.game-data {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
}

.logo-container img {
    margin: 0 auto;
    padding: 1px;
    width: 40px;
    height: 40px;
}

.game-left {
    padding-left: 10px;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.game-right {
    padding-right: 10px;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.game-name-record {
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    align-content: flex-start;
}

.game-team-name {
    margin: 0;
    padding: 0;
}

.game-record {
    margin: 0;
    padding-left: 5px;
    font-size: 75%;
}

.score {
    margin: 0 auto;
    padding: 1px;
    font-size: 120%;
}

.game-footer {
    margin: 0 auto;
    padding: 1px;
    font-size: 75%;
}