.header {
  margin: 0 auto 5px;
  width: 100%;
  text-align: left;
  background-color: #5259FF;
  box-shadow: 0px 5px #31318f;
  align-self: flex-start;
}

.header-text {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  padding-left: 20px;
  line-height: 60px;
  color: #FFFFFF;
  text-shadow: 0px 1px 3px #31318f;
}

.header-nav {
  margin: 0;
  padding: 5px 20px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.header-link {
  margin: 0;
  padding: 4px;
  background-color: #FFFFFF;
  color: #5259FF;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  border-radius: 4px;
}

#header-login {
  justify-self: flex-start;
}

#header-about {
  justify-self: flex-end;
}

#header-team {
  justify-self: flex-end;
}