.overviews {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

.overview {
    margin: 0 auto 3px;
    padding: 5px;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    border-radius: 8px;
    background-color: #5259FF;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 2px 1px #4146cc, 0px 3px #31318F;
}

#overview-logo {
    margin: 0;
    padding: 2px;
}

.overview img {
    flex-basis: 30%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.overview-team-name {
    font-size: 23px;
}

.overview-stats {
    font-size: 18px;
}

.overview p {
    flex-basis: 70%;
    font-weight: bold;
    margin: 0 auto;
    padding-left: 5px;
    padding-top: 5px;
}

.break {
    margin: 0;
    height: 0;
    padding-bottom: 1px;
    width: 100%;
    flex-basis: 100%;
}